/* set the margins of row elements to zero to
override the settings in the dash bootstrap stylesheet */
.row {
    margin: 0 1px 0 1px;
}

.card {
    margin-top: 1em;
}

#howto-md img {
    max-width: 100%;
}

/* Custom styling to have the radio buttons look like a single element
based on https://dash-bootstrap-components.opensource.faculty.ai/docs/components/button_group/
 */
/* restyle radio items */
.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}